# to prevent pushing unnecessary files (like venv, .env (with passwords), node modules)
# Python virtual environment
backend/venv/
venv/

# Node modules
frontend/node_modules/

# Build output
frontend/dist/

# Environment variables
*.env
*.env.*
env/

# Ignore Python cache
__pycache__/
*.pyc

# Node
node_modules/
dist/
build/

# Logs
*.log
